<div class="modal-header">
  <h2 class="modal-title pull-left margin-zero">Edit Project</h2>
  <button
    class="close pull-right corner-button"
    mat-icon-button
    color="warn"
    (click)="bsModalRef.hide()"
  >
    <mat-icon>highlight_off</mat-icon>
  </button>
</div>
<div class="modal-body clearfix">
  <form [formGroup]="form" (ngSubmit)="updateProject()">
    <mat-form-field class="example-full-width w-100">
      <mat-label>Project Name</mat-label>
      <input
        type="text"
        matInput
        placeholder="Twitter"
        formControlName="projectName"
      />
      <mat-error> Please enter project name.</mat-error>
    </mat-form-field>
    <div class="example-button-row float-end">
      <button mat-raised-button color="primary">
        Update
        <mat-icon class="button-icon-size">add</mat-icon>
      </button>
    </div>
  </form>
</div>
