<div class="split-screen">
  <div class="left">
    <div class="copy">
      <h1>EMS</h1>
      <p>Self Practise</p>
    </div>
  </div>
  <div class="right">
    <div class="form-container">
      <form class="example-form" [formGroup]="form" (ngSubmit)="onLogin()">
        <div class="copy">
          <h2>Login</h2>
          <p>Don't have an account? <a routerLink="/signup">Signup</a></p>
        </div>

        <mat-form-field>
          <input
            matInput
            type="email"
            placeholder="Email"
            required
            email
            formControlName="email"
          />
          <mat-error>Please enter valid email.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Password"
            required
            formControlName="password"
          />
          <mat-error>Please enter valid password.</mat-error>
        </mat-form-field>

        <div class="button-div">
          <button
            class="me-3"
            mat-button
            color="primary"
            type="button"
            (click)="openForgotPasswordModal(templateForm)"
          >
            Forgot Password?
          </button>
          <button
            mat-raised-button
            color="accent"
            type="submit"
            [disabled]="form.invalid"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Password Reset Form -->
<ng-template #templateForm>
  <div class="modal-header">
    <h2 class="modal-title pull-left margin-zero">Forgot Password</h2>
  </div>
  <div class="modal-body">
    <form
      class="example-form"
      [formGroup]="forgotPasswordForm"
      (ngSubmit)="onForgotPassword()"
    >
      <mat-form-field class="w-100">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="email"
          required
          formControlName="email"
        />
        <mat-error>Please enter valid email.</mat-error>
      </mat-form-field>

      <div class="button-div float-end">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="forgotPasswordForm?.invalid"
        >
          Submit
        </button>
        <button
          mat-raised-button
          color="accent"
          type="button"
          class="ms-2"
          (click)="modalRef.hide()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</ng-template>
