<div class="history container d-flex text-center align-item-center">
  <div class="left w-50 py-5">
    <p class="worked-hours fs-2">{{ totalHoursWorkedTodayCount }} / 8</p>
    <p class="hours fs-4 mt-4 mb-2"><small>Hours</small></p>
    <p class="this-week fs-6 text-secondary"><small>Today</small></p>
  </div>
  <div class="right w-50 py-5">
    <p class="worked-hours fs-2">{{ totalWorkedHoursCount }} / 40</p>
    <p class="hours fs-4 mt-4 mb-2"><small>Hours</small></p>
    <p class="this-week fs-6 text-secondary"><small>This Week</small></p>
  </div>
</div>
<div class="container mb-7">
  <pre>
    {{ logs | json }}
  </pre>
</div>
