<div class="container">
  <mat-tab-group *ngIf="isAdmin">
    <mat-tab label="Registered Users">
      <app-registered-users></app-registered-users>
    </mat-tab>
    <mat-tab label="Projects">
      <app-project></app-project>
    </mat-tab>
    <mat-tab label="Employees">
      <app-employee></app-employee>
    </mat-tab>
    <mat-tab label="Departments">
      <app-department></app-department>
    </mat-tab>
  </mat-tab-group>
  <mat-tab-group *ngIf="!isAdmin">
    <mat-tab label="Time Log">
      <app-timelog></app-timelog>
    </mat-tab>
    <mat-tab label="History">
      <app-history></app-history>
    </mat-tab>
  </mat-tab-group>
</div>
