<nav class="navbar navbar-expand-lg navbar-light bg-primary py-3">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#"><strong>EMS Project</strong></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto text-center" *ngIf="isAuth">
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLinkActive="active"
            routerLink="employees"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
          >
            <mat-icon>group_add</mat-icon>
            <span class="icon-text"> Employees</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLinkActive="active"
            routerLink="departments"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
          >
            <mat-icon>business</mat-icon>
            <span class="icon-text"> Department</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLinkActive="active"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
            (click)="openProfileModalComponent()"
          >
            <mat-icon>manage_accounts</mat-icon>
            <span class="icon-text"> Profile</span>
          </a>
        </li>
        <li class="nav-item">
          <button
            class="color-white logout-btn"
            mat-button
            (click)="onLogout()"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
          >
            <mat-icon>logout</mat-icon> Logout
          </button>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto text-center" *ngIf="!isAuth">
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="login"
            routerLinkActive="active"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
          >
            <mat-icon>login</mat-icon>
            <span class="icon-text"> Login</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLinkActive="active"
            routerLink="signup"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
          >
            <mat-icon>how_to_reg</mat-icon>
            <span class="icon-text"> Register</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
