<div class="modal-header">
  <h2 class="modal-title pull-left margin-zero">
    {{ update ? "Update Timelog" : "Add Timelog" }}
  </h2>
  <button
    class="close pull-right corner-button"
    mat-icon-button
    color="warn"
    (click)="bsModalRef.hide()"
  >
    <mat-icon>highlight_off</mat-icon>
  </button>
</div>
<div class="modal-body">
  <form class="my-2" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="w-50">
      <mat-label>Date</mat-label>
      <input
        matInput
        [matDatepicker]="datePicker"
        (dateChange)="onDateChange($event)"
        [value]="todayDate"
        formControlName="date"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="datePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
      <mat-error>Please select today's date.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-50">
      <mat-label>Choose a project.</mat-label>
      <mat-select formControlName="projectName">
        <mat-option
          *ngFor="let project of projects"
          [value]="project.projectName"
        >
          {{ project.projectName }}
        </mat-option>
      </mat-select>
      <mat-error>Please select your project.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-50">
      <mat-label>Hours</mat-label>
      <mat-select
        formControlName="durationInHours"
        (selectionChange)="hourChange($event)"
      >
        <mat-option *ngFor="let hour of hours" [value]="hour">
          {{ hour }}
        </mat-option>
      </mat-select>
      <mat-error>Please select hours you worked.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-50">
      <mat-label>Minutes</mat-label>
      <mat-select formControlName="durationInMinutes">
        <mat-option *ngFor="let minute of minutes" [value]="minute">
          {{ minute }}
        </mat-option>
      </mat-select>
      <mat-error>Please select hours you worked or select 0.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Task Summary</mat-label>
      <textarea
        matInput
        #summary
        placeholder="Write a short summary about your task..."
        formControlName="taskSummary"
        rows="12"
        [maxlength]="maxChars"
      ></textarea>
      <small class="text-secondary">{{summary.value.length}}/{{maxChars}}</small>
      <mat-error>Please write your works in about 200 characters.</mat-error>
    </mat-form-field>
    <hr />
    <div class="button-div float-end pb-3">
      <button
        mat-raised-button
        class="me-3"
        color="accent"
        type="submit"
        [disabled]="form.invalid"
      >
        {{ update ? "Update" : "Submit" }}
      </button>
    </div>
  </form>
</div>
