<div class="container mb-7">
  <h1 class="text-center mt-3">Department Lists</h1>
  <div class="my-2 text-end">
    <button mat-raised-button (click)="openModal(addDepartmentModal)">
      <mat-icon>business</mat-icon> Add Department
    </button>
  </div>
  <app-department-list
    [departmentLists]="departments"
    (removeDepartment)="removeDepartment($event)"
  ></app-department-list>
  <mat-paginator
    [length]="totalPosts"
    [pageSize]="postsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>

<ng-template #addDepartmentModal>
  <div class="modal-header">
    <h2 class="modal-title pull-left margin-zero">Add Department</h2>
    <button
      class="close pull-right corner-button"
      mat-icon-button
      color="warn"
      (click)="modalRef.hide()"
    >
      <mat-icon>highlight_off</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width w-100">
        <mat-label>Department Name</mat-label>
        <input
          type="text"
          matInput
          placeholder="Engneering"
          formControlName="name"
        />
        <mat-error> Please enter department name. </mat-error>
      </mat-form-field>
      <div class="example-button-row float-end">
        <button mat-raised-button color="primary" [disabled]="form.invalid">
          Add
          <mat-icon class="button-icon-size">add</mat-icon>
        </button>
      </div>
    </form>
  </div>
</ng-template>
