<div class="container">
  <h1 class="text-center mt-3">Department Lists</h1>
  <div class="my-2 text-end">
    <button mat-raised-button>
      <mat-icon>business</mat-icon> Add Department
    </button>
  </div>

  <table class="table table-striped text-center align-middle">
    <thead>
      <tr>
        <th scope="col">Department ID</th>
        <th scope="col">Department Name</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let department of departments; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ department.name }}</td>
        <td>
          <button
            mat-icon-button
            aria-label="edit icon button"
            color="primary"
            (click)="openUpdateForm(department)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            aria-label="delete icon button"
            (click)="onDelete(department)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
