<div class="container">
  <h1 class="text-center mt-3">Department Lists</h1>
  <div class="my-2 text-end">
    <button mat-raised-button (click)="openModal(addDepartmentModal)">
      <mat-icon>business</mat-icon> Add Department
    </button>
  </div>
  <app-department-list
    [departmentLists]="departments"
    (removeDepartment)="removeDepartment($event)"
  ></app-department-list>
</div>

<ng-template #addDepartmentModal>
  <div class="modal-header">
    <h2 class="modal-title pull-left">Add Department</h2>
    <button
      class="close pull-right corner-button"
      mat-icon-button
      color="warn"
      (click)="modalRef.hide()"
    >
      <mat-icon>highlight_off</mat-icon>
    </button>
  </div>
  <div class="modal-body">This is a modal.</div>
</ng-template>
