<div class="containe">
  <div class="mx-auto card text-center my-5 col-md-6">
    <img
      src="/assets/user.png"
      class="card-img-top mx-auto mt-3"
      alt="{{ userInfo?.fullName }}"
    />
    <div class="card-body">
      <h2 class="card-title text-decoration-underline">
        {{ userInfo?.fullName }}
      </h2>
      <h3 class="card-text">
        {{ userInfo?.email }}
      </h3>
      <h3 class="card-text">
        {{ userInfo?.phone }}
      </h3>
      <h3 class="card-text text-capitalize">
        {{ userInfo?.gender }}
      </h3>
      <hr />
      <button
        mat-stroked-button
        color="primary"
        (click)="openProfileUpdateModalComponent()"
      >
        <mat-icon>manage_accounts</mat-icon>
        <span class="icon-text"> Update Profile</span>
      </button>
      <button
        mat-stroked-button
        color="primary"
        class="ms-3"
        (click)="openUpdatePasswordModal(updatePassword)"
      >
        <mat-icon>password</mat-icon>
        <span class="icon-text"> Change Password</span>
      </button>
    </div>
  </div>
</div>

<ng-template #updatePassword>
  <div class="modal-header">
    <h2 class="modal-title pull-left margin-zero">Edit Profile</h2>
  </div>
  <div class="modal-body">
    <form
      class="example-form"
      [formGroup]="passwordUpdateForm"
      (ngSubmit)="onPasswordUpdate()"
    >
      <mat-form-field class="w-100">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Password"
          required
          formControlName="password"
        />
        <mat-error>Please enter valid password.</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Confirm Password"
          required
          formControlName="confirmPassword"
        />
        <mat-error>Please enter valid password.</mat-error>
      </mat-form-field>
      <small *ngIf="passwordUpdateForm?.errors?.misMatch" class="text-danger">
        Confirm Password not matched.
      </small>

      <div class="button-div mt-3 float-end">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          (onclick)="onPasswordUpdate()"
          [disabled]="passwordUpdateForm?.invalid"
        >
          Change Password
        </button>
        <button
          mat-raised-button
          color="accent"
          type="button"
          class="ms-2"
          (click)="bsModalRef.hide()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</ng-template>
