<div class="modal-header">
  <h2 class="modal-title pull-left margin-zero">Edit Profile</h2>
</div>
<div class="modal-body">
  <form class="example-form" [formGroup]="form" (ngSubmit)="onProfileUpdate()">
    <mat-form-field class="w-100">
      <mat-label>Full Name</mat-label>
      <input
        matInput
        type="text"
        placeholder="Full Name"
        required
        formControlName="fullName"
      />
      <mat-error>Please enter valid full name.</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        placeholder="Email"
        email
        required
        formControlName="email"
      />
      <mat-error>Please enter valid email.</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Phone</mat-label>
      <input
        matInput
        type="tel"
        placeholder="Phone"
        required
        formControlName="phone"
        appNumberOnly
      />
      <mat-error> Please enter valid phone. </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Select gender</mat-label>
      <select matNativeControl required formControlName="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
      <mat-error>Please choose your gender.</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Password"
        required
        formControlName="password"
      />
      <mat-error>Please enter valid password.</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Confirm Password"
        required
        formControlName="confirmPassword"
      />
      <mat-error>Please enter valid password.</mat-error>
    </mat-form-field>
    <small *ngIf="form.errors?.misMatch" class="text-danger">
      Confirm Password not matched.
    </small>
    <div class="clearfix">
      <div class="button-div float-end">
        <button mat-raised-button color="primary">Update</button>
        <button
          class="ms-2"
          mat-raised-button
          color="accent"
          (click)="bsModalRef.hide()"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
