<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto text-center py-5">
      <p class="display-3">Welcome!</p>
      <img
        src=" https://img.icons8.com/clouds/100/000000/handshake.png"
        alt="hand shake"
      />
      <p class="m-3">
        We're excited to have you get started. First, you need to confirm your
        account. Just press the button below.
      </p>
      <button
        mat-raised-button
        color="primary"
        class="mb-3"
        (click)="confirmAccount()"
      >
        <span class="p-5">Confirm Account</span>
      </button>
      <p>
        If you have any questions, just reply to this email—we're always happy
        to help out.
      </p>
      <p>Cheers,</p>
      <span>EMS Devish</span>
    </div>
  </div>
</div>
