button {
  border: none;
}
.weekly-calendar p {
  margin: 0;
}
.days {
  font-size: 0.7rem;
  font-weight: normal;
}
.dates {
  font-size: 1rem;
  margin-top: -0.3rem !important;
}
.active-date {
  background-color: #d2d7f7;
  border-radius: 50%;
}
