/* You can add global styles to this file, and also import other style files */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #3f51b5;
  border: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  cursor: pointer;
}

.icon-text {
  vertical-align: 6px;
}

.mat-h3,
.mat-subheading-2,
.mat-typography h3 {
  margin: 0;
  font: 200 !important;
}

.confirm-btns {
  text-align: center !important;
  margin-top: -12px;
}

.popover-arrow.arrow {
  transform: translateX(-50%) !important;
}

.corner-button {
  position: absolute !important;
  top: -20px !important;
  right: -20px !important;
  background: rgba(63, 81, 181, 0.6);
}

.margin-zero {
  margin: 0 !important;
}

.button-icon-size {
  font-size: 18px !important;
  line-height: 130% !important;
}

.color-white {
  color: #fff;
}

.logout-btn {
  margin-top: 3px !important;
}

.toast-title {
  font-weight: normal !important;
  font-size: 18px !important;
}

.toast-container .ngx-toastr {
  box-shadow: 0 0 12px #000 !important;
}

/* displaying mat options while modal is open */
.cdk-overlay-container {
  z-index: 9999;
}

.navbar-light .navbar-toggler-icon {
  filter: invert(100%);
}

/* .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(1, 218, 19, 0.5);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #01da12;
} */
